{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link
      rel="stylesheet"
      href="./../static/Cooccurrences/index_style.css"
    />
    <link rel="shortcut icon" href="{% static 'logo.png' %}" />

</head>
<body>
    <br>
    <center><img src="{% static 'logo.png' %}" alt="Logo" height="200"></center>
    <br><br>
    <center><h1>Welcome to GeneVis !</h1></center>

    
    <br><br>


    <a href="./genevis"><center><img src="./../static/enter.png" alt="Enter" height=80"></center></a>

    <br><br>


    <center><h2>The goal of this website is to allow you to find co-occurences between two biological entities.<br>
        Entities can be species, cellular types, mutations, histones modifications, genes, enzymes... <br>
        In order to make your query you have to click on the corresponding button in the navbar. <br>
        Your query will be directed against the GeneView database, which structure is explained down below.</h2></center>
    
</body>
</html>